<div class="col-md-12 col-sm-12 col-xs-12" ng-init="$ctrl.init()">
  <div class="x_panel">
    <div class="x_content">
      <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
        <div class="profile_img">
          <div id="crop-avatar">
              <img class="img-responsive avatar-view" width="100%" src="{{$ctrl.poster}}"
               alt="{{$ctrl.title}}" title="{{$ctrl.title}}">
          </div>
          <h3>Movie Details</h3>
          <ul class="list-unstyled user_data">
            <li><i class="fa fa-calendar"></i>
              <a href="years/{{$ctrl.year.number}}">
                <span ng-bind="$ctrl.year.number"></span>
              </a>
            </li>

            <li>
              <i class="fa fa-sticky-note-o"></i>
              <span ng-bind="$ctrl.description | limitTo: 283"></span> ...
            </li>

            <li class="m-top-xs">
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <div>
         <div>
      </div>
    </div>
  </div>
</div>
