<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h3>
          <i class="fa fa-film"></i>
          <span ng-bind="$ctrl.title" style="font-weight: bold;"></span>
        </h3>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row">
          <div class="col-md-55" ng-repeat="movie in $ctrl.movies|limitTo:$ctrl.perPage">
            <div class="image view view-first">
              <img style="width: 100%; display: block; height: 285px;" src="{{movie.poster}}" alt="image">
              <a href="{{movie.slug}}">
                <div class="mask" style="height: 285px;">
                  <p ng-bind="movie.title" style="font-weight: bold;"></p>
                  <div class="tools">
                    <i class="fa fa-play-circle"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="x_footer" ng-if="$ctrl.currentPage">
        <a ng-click="$ctrl.prevPage($ctrl.currentPage)" class="btn btn-round btn-primary btn-lg" href="#" ng-disabled="$ctrl.currentPage === 1">
          <i class="fa fa-chevron-left"> Previous </i>
        </a>
        <span ng-bind="$ctrl.currentPage" class="badge bg-orange" style="font-size: 15px;"></span>
        <a ng-click="$ctrl.nextPage($ctrl.currentPage, $ctrl.lastPage)" class="btn btn-round btn-primary btn-lg" href="#" ng-disabled="$ctrl.currentPage === $ctrl.lastPage">
          Next
          <i class="fa fa-chevron-right"> </i>
        </a>
      </div>
    </div>
  </div>
</div>
