<!doctype html>
<html ng-app="webMoviehdkhApp">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title>Moviehkhd - moviehdkh club</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/gentelella/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/gentelella/vendors/iCheck/skins/flat/green.css">
    <link rel="stylesheet" href="bower_components/gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="bower_components/gentelella/vendors/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="bower_components/gentelella/build/css/custom.min.css">
    <link rel="stylesheet" href="bower_components/angular-ui-carousel/dist/ui-carousel.min.css">
  </head>
  <body ng-controller="moviehdkhMaterial" class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <h1>
                <a href="index.html" class="site_title">
                  <img src="images/moviehdkh.png"/>
                </a>
              </h1>
            </div>
            <div class="clearfix"></div>
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="images/yeoman.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>User CloudKh</h2>
              </div>
            </div>
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu" style="">
                  <li><a href="/"><i class="fa fa-home"></i> Home</a>
                  </li>
                  <li><a><i class="fa fa-calendar"></i> Years <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none;">
                      <li ng-repeat="item in menuYear" class>
                        <a ng-click="callByMenu(item.action)">
                          <i ng-class="item.icon"></i><span ng-bind="item.title"></span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-film"></i> Genres <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none;">
                      <li ng-repeat="item in menuGenre" class>
                        <a ng-click="callByMenu(item.action)">
                          <i ng-class="item.icon"></i><span ng-bind="item.title"></span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="right_col" role="main">
          <ui-view layout="column" layout-fill layout-padding>
            <div ng-view=""></div>
          </ui-view>
        </div>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-ui-carousel/dist/ui-carousel.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="bower_components/gentelella/build/js/custom.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/moviehdkh-api.js"></script>
    <script src="scripts/services/years.js"></script>
    <script src="scripts/services/movies.js"></script>
    <script src="scripts/components/year-list/year-list.js"></script>
    <script src="scripts/components/movie-list/movie-list.js"></script>
    <script src="scripts/components/search/search.js"></script>

    <!-- setup environments-->
    <script src="scripts/services/environments.js"></script>
  </body>
</html>
