<div class="clearfix"></div>
<div ng-init="init()">
  <div class="page-title">
    <div class="title_left">
      <h1><i class="fa fa-calendar"></i>  <span ng-bind="title"></span></h1>
    </div>
    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <movie-list
    movies="movies"
    title="List of Movies"
    total="total"
    current-page="currentPage"
    last-page="lastPage"
    per-page="25"
    page="page">
  </movie-list>
</div>
